.header-container {
    position: fixed; 
    z-index: 1;
}
.hero {
    background-color: #FEFAF5;
    display: flex;
}

.hero__slogan {
    text-align: left;
    color: #335576;
}

.hero__title {
    margin-top: 0;
    padding-top: 8.4375rem; /* 135px */
    padding-left: 6.25rem; /* 100px */
    width: 60%;
}

.hero__text {
    padding-left: 6.25rem; /* 100px */
    width: 80%;
    font-size: 0.625rem; /* 10px */
    font-weight: bold;
    margin-bottom: 1.5625rem; /* 25px */
}

.hero__button {
    background-color: #DB7A4E;
    color: white;
    border-radius: 1rem; /* 16px */
    margin-left: 6.25rem; /* 100px */
    padding: 0.5rem 1.75rem; /* 8px 28px */
    font-size: 0.625rem; /* 10px */
    text-decoration: none;
}

.hero__image {
    height: 16.875rem; /* 270px */
    margin-top: 6.25rem; /* 100px */
    margin-left: 5rem; /* 80px */
    margin-bottom: 3.75rem; /* 60px */
}

.main-container__title {
    color: #335576;
    margin-top: 0;
    padding-top: 35px;
    padding-left: 6.25rem; /* 100px */
}

.articles {
    display: flex;
    justify-content: center;
}

.article-card {
    /*text-align: end;
    vertical-align: bottom; */
    border-radius: 0.3125rem; /* 5px */
    border: 0.0625rem solid rgba(0, 0, 0, 0.2); /* 1px, opacity = 20% */
    box-shadow: 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.2); /* offset-x, offset-y, blur-radius, colour w/ opacity */
}

/*.article-card__link {
    width: 100%;
    height: 100%;
}*/

.article-card__destination1 {
    background-image: url('../assets/images/hawaii.jpg');
}

.article-card__destination2 {
    background-image: url('../assets/images/iceland.jpg');
}

.article-card__destination3 {
    background-image: url('../assets/images/greece.jpg');
}

.article-card__text {
    position: relative;
    right: 0; /* position item at right edge */
    bottom: 0; /* position item at bottom */
}
